/* GENERAL STUFF */
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Audiowide;
  src: url(../fonts/Audiowide-Regular.ttf);
}

@font-face {
  font-family: Starjedi;
  src: url(../fonts/Stjldbl1.ttf);
}

@font-face {
  font-family: Starout;
  src: url(../fonts/Starjhol.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --prim-color: #ffffff;
  --grey-color: #050505;
  --l-grey-color: #252525;
  --bg: black;
  --bar: 85%;
  --speed: 2s;
}

body {
  position: relative;
  background-color: var(--bg);
  color: aliceblue;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  width: 100vw;
  padding: 0;
}

body h3 {
  line-height: 0.9em;
  font-weight: 500;
  font-size: 1.2em;
  position: relative;
}

body .bg {
  position: absolute;
  z-index: -1;
  height: 100%;
}

body .bg canvas {
  display: block;
}

body header {
  color: var(--prim-color);
  height: 10vh;
  background-color: var(--bg);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10%;
  width: 100%;
}

body header .name {
  line-height: 0.9em;
  font-family: Starout;
  font-weight: 500;
}

body header .side-ham {
  position: relative;
}

body header .side-ham .line {
  position: absolute;
  content: "";
  display: block;
  width: 70%;
  background-color: var(--prim-color);
  height: 2px;
  -webkit-transition: 0.4s ease-out width;
  transition: 0.4s ease-out width;
}

body header .side-ham .line:nth-of-type(1) {
  top: 0;
  left: 0;
}

body header .side-ham .line:nth-of-type(2) {
  right: 0;
  bottom: 0;
}

body header .side-ham:hover .line,
body header .side-ham:hover .line {
  width: 100%;
}

body #loading-page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  outline: 1px solid red;
  left: 0;
  background-color: #000000;
  z-index: 99999;
}

body #loading-page svg path {
  fill: #ffffff00;
  stroke: #ffffff;
  stroke-width: 0.08;
  stroke-linecap: butt;
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  -webkit-animation: name-fillup 5s ease infinite alternate forwards;
          animation: name-fillup 5s ease infinite alternate forwards;
}

body #loading-page .progress-bar {
  outline: 1px solid #fff;
  width: 40%;
  height: 10px;
  overflow: hidden;
  position: relative;
}

body #loading-page .progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  -webkit-animation: bar-fillup var(--speed) ease forwards;
          animation: bar-fillup var(--speed) ease forwards;
}

body li {
  list-style: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: hidden;
  margin-bottom: 10px;
  padding: 10px;
  -webkit-transition: 0.6s all ease;
  transition: 0.6s all ease;
  background-color: #080808;
}

body li:hover {
  background-color: #111;
}

body main {
  position: relative;
  padding: 0;
}

body main section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5em 10%;
  width: 100%;
  padding-top: 30px;
}

body main section h3 {
  margin-bottom: 20px;
}

body main section p {
  font-size: 1.5em;
}

body main section p.sub {
  margin-top: 5px;
  font-size: 1.1em;
}

body main section#intro-sect {
  position: relative;
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

body main section#intro-sect .heading {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(300px) scale(0.8) translateY(-50%);
          transform: perspective(300px) scale(0.8) translateY(-50%);
}

body main section#intro-sect .heading h1 {
  font-family: Starout, Audiowide, Montserrat, Arial, Helvetica, sans-serif;
  line-height: 0.9em;
  font-weight: 100;
  color: aliceblue;
  font-size: 3.5em;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body main section#intro-sect .heading h1:nth-of-type(1) {
  -webkit-transform: scale3d(0.7, 1.8, 2.8) rotate3d(1, 0, 0, 45deg);
          transform: scale3d(0.7, 1.8, 2.8) rotate3d(1, 0, 0, 45deg);
}

body main section#intro-sect .heading h1:nth-of-type(2) {
  -webkit-transform: scale3d(1, 1.6, 2.8) rotate3d(1, 0, 0, 45deg);
          transform: scale3d(1, 1.6, 2.8) rotate3d(1, 0, 0, 45deg);
}

body main section#intro-sect .cta-btn {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 150px;
  height: 50px;
  z-index: 40;
  padding: 0;
  position: relative;
}

body main section#intro-sect .cta-btn p {
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

body main section#works-sect nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 4px;
  margin-bottom: 20px;
}

body main section#works-sect nav input {
  display: none;
}

body main section#works-sect nav input:checked + label {
  border-bottom: 1px solid white;
}

body main section#works-sect nav input:active + label {
  background-color: #111111;
}

body main section#works-sect nav label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 0.6em;
  padding: 5px;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

body main section#works-sect nav label:hover {
  background-color: #090909;
}

body main section#works-sect ul {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
  margin: 0;
  margin-top: 40px;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 240px;
  gap: 5px;
}

body main section#works-sect li.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.6s all ease;
  transition: 0.6s all ease;
  -webkit-transform: translate3d(0, 2px, 20px);
          transform: translate3d(0, 2px, 20px);
  height: 100%;
}

body main section#works-sect li.work img {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: #050505;
  border: none;
  margin-bottom: 10px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  height: 100%;
}

body main section#works-sect li.work div {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
  text-align: center;
}

body main section#contact-sect {
  height: 90vh;
}

body .skill-grid {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(80px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-auto-rows: 80px;
  gap: 5px;
}

body .skill-grid div {
  background-color: #090909;
  -webkit-transition: 1s all;
  transition: 1s all;
}

body .skill-grid div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blue-text {
  color: var(--prim-color);
  padding: 0;
  margin: 0;
}

.hide {
  height: 100vh;
  overflow: hidden;
}

@-webkit-keyframes name-fillup {
  0% {
    stroke-dasharray: 40;
  }
  100% {
    stroke-width: 0;
    fill: #ffffffff;
    stroke-dasharray: 80;
  }
}

@keyframes name-fillup {
  0% {
    stroke-dasharray: 40;
  }
  100% {
    stroke-width: 0;
    fill: #ffffffff;
    stroke-dasharray: 80;
  }
}

@-webkit-keyframes bar-fillup {
  0% {
    width: 0%;
  }
  100% {
    width: var(--bar);
  }
}

@keyframes bar-fillup {
  0% {
    width: 0%;
  }
  100% {
    width: var(--bar);
  }
}

.filled::before {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */