button {
  position: relative;
  color: #fff;
  text-align: center;
  cursor: default;
  padding: 15px 30px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  background-color: rgba(10, 10, 10, 0.2);
  overflow: hidden;
  border-radius: 5px;
}
button:hover {
  background-color: rgba(35, 35, 35, 0.4);
}
button:active {
  transition: 0.3s all;
  border: 1px solid transparent;
  background-color: rgba(45, 45, 45, 0.6);
}
.button {
  position: relative;
  color: #fff;
  text-align: center;
  cursor: default;
  text-decoration: none;
  padding: 15px 30px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  background-color: rgba(10, 10, 10, 0.2);
  overflow: hidden;
  border-radius: 5px;
}
.button:hover {
  background-color: rgba(35, 35, 35, 0.4);
}
.button:active {
  transition: 0.3s all;
  border: 1px solid transparent;
  background-color: rgba(45, 45, 45, 0.6);
}
.o {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.o {
  position: absolute;
  top: var(--mouseY);
  left: var(--mouseX);
  transform: translate(-50%, -50%);
  transition: 0.5s all 0.1s;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(55, 55, 55, 0.47);
  animation: pulse 0.8s ease forwards;
  pointer-events: none;
  cursor: none;
}

@keyframes pulse {
  to {
    height: 150px;
    width: 150px;
    opacity: 0;
  }
}
