html {
  scroll-behavior: smooth;
}
.socials {
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  align-items: center;
  gap: 20px 10px;
  color: white;
  margin-bottom: 20px;
}

.socials a {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  text-decoration: none;
}

.socials a:visited {
  color: #777;
}

.socials a:hover {
  color: lightskyblue;
}
.socials a:active {
  color: skyblue;
}